.App {
    text-align: center;
}
.homepage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: goldenrod;
    background-color: #3325ee;
}
.homeinput {
    width: 400px;
    height: 35px;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.homebutton {
    background-color: goldenrod;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.homebutton[disabled] {
    background-color: grey;
}
.mainForm {
    display: flex;
    flex-direction: column;
    width: 720px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
    background-color: transparent;
}

.greeting {
    text-align: center;
    font-size: 1.5rem;
}
.inputdiv {
    margin: 25px 0;
    width: 300px;
}
input[type='text'],
input[type='number'] {
    width: 250px;
}
.inputdiv.radioset {
    display: flex;
    align-items: center;
}

.submitButton {
    /* text-align: justify; */
    width: 300px;
}
